body {
    font-family: "Roboto", sans-serif;
    color: var(--main-dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



:root {
    --main-dark-color: #2e2f42;
    --main-line-height: 1.5;
    --main-white-color: #ffffff;
    --font-family-raleway: "Raleway";
    --logo-and-btn-color: #4d5ae5;
    --focus-and-hover-color: #404bbf;
    --dark-color: #434455;
    --light-color: #f4f4fd;
    --dark-light-color: #e7e9fc;
}

/*index.html*/

.header {
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
background-color: var(--main-white-color);
}

.header-logo {
    margin-right: 76px;
    font-family: var(--font-family-raleway);
    color: var(--main-dark-color);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}
.header-logo-web {
    font-family: var(--font-family-raleway);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-and-btn-color);
}
.header-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}

.contacts-list {
    font-style: normal;
}

.header-navigation{
    margin-right: auto;
    display: flex;
}

.header-container{
    align-items: center;
    display: flex;
    font-style: normal;
}


.contacts-list{
    display: flex;
    gap: 40px;
}
.header-link {
    color: var(--main-dark-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--focus-and-hover-color);
}

.contact-link {
    color: var(--dark-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--focus-and-hover-color);
}
/* main */

.main {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) , url(./images/background-header.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-size:cover;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-header {
    text-align: center;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-white-color);
}
.main-btn {
    font-family: inherit;
    background: var(--logo-and-btn-color);
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: var(--main-line-height);
    border-radius: 4px;
    margin-top: 48px;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    border: 0px solid rgba(00, 00, 00, 0.0);
}
.main-btn:focus,
.main-btn:hover {
    background: var(--focus-and-hover-color);
}
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.attitudes-container {
    padding: 120px 0;
}

.attitudes-list {
    gap: 24px;
    display: flex;
}
.attitudes-item {
    width: calc(100% / 4);
}
.attitudes-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
    margin-bottom: 8px;
}

.attitudes-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}

.attitudes-icons {
    padding: 24px 100px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


  /* products */

.products {
    padding-bottom: 120px;
}

.products-header {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-color);
}

.products-list{
    display: flex;
    gap: 24px;
}
  /* team */



.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--light-color);
}
.team-header {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-color);
}

.team-list{
    display: flex;
    gap: 24px;
}


.team-item {
    background-color: var(--main-white-color);
}
.team-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}
.team-item-text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
    margin-bottom: 8px;
}

.team-space {
    bottom: 0;
    padding: 32px 16px;
    text-align: center;
    transition: bottom 0.5s ease;
    align-items: center;
}

.team-soc-list{
    gap: 24px;
    display: flex;
    justify-content: center;
}

.team-soc-item{
    width: 40px;
    height: 40px;
}

.team-soc-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--logo-and-btn-color)
}

.team-soc-icon{
    fill: var(--light-color);
}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--focus-and-hover-color);
}


/* CUSTOMERS */
.customers {
    padding: 130px 0 120px 0;
}

.customers-header {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-color);
    text-align: center;
}

.customers-icon-list {
    gap: 24px;
    display: flex;
    justify-content: center;
}

.customers-icon {
    fill: #AFB1B8;
}

.customers-icon-link{
    cursor: pointer;
    width: 168px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 16px 32px;
}

.customers-icon-link:hover, 
.customers-icon-link:focus{
    border-color: var(--focus-and-hover-color);
}
.customers-icon-link:hover .customers-icon,
.customers-icon-link:focus .customers-icon{
    fill: var(--focus-and-hover-color);
}



.customers-icon-item:last-child {
    margin-right: 0;
}


  /* footer */

.footer {

    background: var(--main-dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light-color);
}

.footer-logo-web {
    font-family: var(--font-family-raleway);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-and-btn-color);
}

.footer-logo-studio {
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;

}

.footer-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-light-color);
}

.footer-text {
    margin-top: 16px;
    font-style: normal;
    width: 264px;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--dark-light-color);
}

.footer-container {
    display: flex;
}

.social-media {
    margin-left: 120px;
}

.social-media-header {
    font-weight: 500;
    font-size: 16px;
    line-height: var(--main-line-height);
    letter-spacing: 0.02em;
    color: var(--main-white-color);
    margin-bottom: 16px;
}

.social-media-list {
    justify-content: center;
    gap: 16px;
    display: flex;
}

.social-media-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-link{
    fill: var(--light-color);
}

.social-media-link:is(:hover, :focus) {
    background-color: #31D0AA;
}
/* portfolio */
.portfolio{
    padding-bottom: 120px;
    padding-top: 96px;
}


.main-menu{
    padding: 12px 24px;
    text-align: center;
}

.portfolio-products-list{
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-buttons-list{
    justify-content: center;
    display: flex;
    gap: 24px;
}

.portfolio-buttons-item-btn {
    padding: 12px 24px;
    text-align: center;
    background-color: var(--light-color);
    border: 1px solid var(--dark-light-color);
    font-family: inherit;
    border-radius: 4px;
    color: var(--logo-and-btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.portfolio-buttons-item-btn:hover,
.portfolio-buttons-item-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--main-white-color);
    background-color: var(--focus-and-hover-color);
    border-color: var(--focus-and-hover-color);
    


}

.portfolio-product-box:hover,
.portfolio-product-box:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-product-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
} 

.portfolio-product-item-header {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}
.portfolio-product-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-space {
    border: 1px solid var(--dark-light-color);
    border-top: none;
    bottom: 0;
    padding: 32px;
}